@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto:wght@300;400;700&display=swap');
html{
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
}
/* landing page */
.container-fluid{
    margin: 0;
    padding: 0;
}
.over lay{
    background-color: rgba(0, 0, 0, 0.6);
    height: 668px;
}
.overlay >img, header-tet{
    position: relative;
    top: 33%;
}
.header-text{
    font-family: 'Roboto', sans-serif;
}
.header-text2{
    font-family: 'Poppins', sans-serif;
}
.mouse{
    margin-top: 330px;
}
.jumbotron-fluid{
    background-image: url(img/assets/backgrounds/h_img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}
#mouse-click{
    padding-top: 22px;
    margin-top: 10%;
    padding-bottom: 30px;
}
#mouse-click{
    animation: bounce 3s infinite;
}
@keyframes mouse-click{
    0%, 20%, 50%, 80%, 100%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-55px);
    }
    60%{
        transform: translateY(-54px);
    }
}
/* about page */
.about{
    margin-bottom: 70px;
}
.about h3{
    margin-top: 30px;
    padding-bottom: 38px;
}
.about p{
    margin-bottom: 50px;
}
/* service page */
.services{
    background-image: url(img/assets/backgrounds/s_image.jpg);
    height: 280px;
    color: #fff;
    background-size: cover;
}
.services h3{
    position: relative;
    top: 40px;
    margin-bottom: 10px;
    padding-bottom: 38px;
}
.services p{
    position: relative;
    top: 20px;
    margin-bottom: 50px;
}
.services-overlay{
    background-color: rgba(0, 0, 0, 0.315);
    height: 280px;
}
/* what we do */
.what-we-do{
    margin-top: 30px;
    text-align: center;
    padding-top: 40px;
}